body {
  background-color: #0A080C;
  color:#DBA57A;
}

hr {
	color:#2E2834;
	border-color:#734157;
	border-style:dotted;
	border-width:1px;
}
p {
  color: #E2D4C0;
  font-family: monospace, courier, serif;
}

a {
	color:#DBA57A;
	font-family: courier, serif;
	transition: color .2s;
	text-decoration: none;
	padding:5px;
}

a:hover, a:active {
  color: #FCE0A8;
}

h1, h2, h3, h4, h5, h6 {
	color: #C293BF;
	font-family:courier, serif;
}
